<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>394593759164-iu6equsiik9ajj8ht392v4vp2lqjp4oi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.394593759164-iu6equsiik9ajj8ht392v4vp2lqjp4oi</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>394593759164-spj705hrt62971o78ebb84kcf4lrvdd2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC_EYLKAzPXhipnLzSGCfcczaHhC6lfYB8</string>
	<key>GCM_SENDER_ID</key>
	<string>394593759164</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ecommerce</string>
	<key>PROJECT_ID</key>
	<string>quick-cart-deba5</string>
	<key>STORAGE_BUCKET</key>
	<string>quick-cart-deba5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:394593759164:ios:56bfb1111cf97137da45b9</string>
</dict>
</plist>